<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
      praesentium deserunt, repellendus autem provident dolorum deleniti ipsum
      sed, maxime alias, fuga ipsa nisi commodi. Sed itaque laboriosam commodi
      ut sequi? Molestias laboriosam ipsam tenetur provident consequuntur
      libero, repudiandae quas esse.</p>
  </div>
</div>