<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur veniam quod, doloribus minima eum maiores autem vitae esse delectus architecto nam fugit distinctio facere officia voluptatem sequi provident quasi repudiandae!</p>
    <a href="https://github.com/rfloresj" class="btn btn-primary btn-lg">RobsGitHub</a>
</div>